<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">News Management</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="'/Admin'">Home</a></li>
                    <li class="breadcrumb-item active" [routerLink]="'/Admin/News'">News</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-lg-7">
            <button type="button" class="btn  btn-success" (click)="showModal()">Create</button>
        </div>
        <div class="col-md-4 col-sm-12 col-lg-5">
            <div class="form-group">
                <div class="row">

                    <div class="col-sm-10">
                        <input type="search" id="input" class="form-control" [(ngModel)]="keyword" title="">
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-info" (click)="LoadData()">Search</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Main content -->
<section class="content m-2">

    <div class="container">

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Image</th>
                    <th>Settings</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="newsData.length > 0">
                    <tr *ngFor="let item of newsData; let index = index">
                        <td>{{(pageIndex - 1) * pageSize + index + 1}}</td>
                        <td>{{item.newName}}</td>
                        <td style="max-width: 100px;">{{item.title}}</td>
                        <td><img style="height: 100px; width: 100px;" src="{{item.image}}" alt=""></td>
                        <td>
                            <button type="button" class="btn btn-warning m-2">Edit</button>
                            <button type="button" class="btn btn-info m-2">Detail</button>
                            <button type="button" class="btn btn-danger m-2">Delete</button>
                        </td>
                    </tr>
                </ng-container>
                <ng-container *ngIf="newsData.length == 0">
                    <h1>No data</h1>
                </ng-container>
            </tbody>
        </table>

    </div>

</section>
<!-- /.content -->

<!-- Pagination -->
<div class="text-center">
    <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="totalNews" [nzPageSize]="pageSize"
        (nzPageIndexChange)="onPageIndexChange($event)"></nz-pagination>

</div>
<!--End pagination-->

<!-- Modal -->
<nz-modal [(nzVisible)]="isVisible" nzTitle="Create/Update News" (nzOnCancel)="handleCancel()"
    (nzOnOk)="onCreateUpdate()" nzCancelText="Cancel" nzOkText="Save" nzWidth="930px">
    <ng-container *nzModalContent>
        <form action="" method="POST" role="form" [formGroup]="createUpdateForm">
            <input type="hidden">
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" formControlName="NewName" id="" placeholder="News Name">
            </div>
            <div class="form-group">
                <label for="">Title</label>
                <input type="text" class="form-control" formControlName="Title" id="" placeholder="Title Name">
            </div>
            <div class="form-group">
                <label for="" class="mr-2">Image</label>
                <input type="file" formControlName="Image">
            </div>
            <div class="form-group">
                <label for="">Description</label>
                <editor [init]="config" formControlName="Description" apiKey="AIzaSyC_RxELMUreCwKXPnVRUVnrhszIqQvGMjo">
                </editor>
            </div>
            <div class="form-group">
                <label for="" class="mr-2">Display</label>
                <nz-switch formControlName="Status"></nz-switch>
            </div>



        </form>

    </ng-container>
</nz-modal>

<!-- End Modal -->