<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <a href="facebook.com">
                    <img src="img/Main-Logo.jpg" alt="IMG" />
                </a>
            </div>

            <form class="login100-form validate-form" [formGroup]="LoginForm" (submit)="onLogin()">
                <span class="login100-form-title" style="font-weight: bold;"> TKBlog System </span>

                <!-- Login gg fb -->

                <div class="wrap-input100 validate-input" data-validate="Yêu cầu tài khoản">
                    <input class="input100" type="text" name="Username" formControlName="username"
                        autocomplete="username" placeholder="Username" />

                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </span>

                </div>
                <small style="display: block; text-align: center;"
                    *ngIf="LoginForm.get('username')?.invalid && (LoginForm.get('username')?.dirty || LoginForm.get('username')?.touched)">
                    <span *ngIf="LoginForm.get('username')?.errors?.['required']">Username is required</span>

                </small>
                <div class="wrap-input100 validate-input mt-2" data-validate="Yêu cầu mật khẩu">
                    <input class="input100" type="password" formControlName="password" name="pass"
                        autocomplete="password" placeholder="Password" />



                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <small style="display: block; text-align: center;"
                    *ngIf="LoginForm.get('password')?.invalid && (LoginForm.get('password')?.dirty || LoginForm.get('password')?.touched)">
                    <span *ngIf="LoginForm.get('password')?.errors?.['required']">Password is required</span>
                </small>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" [disabled]="!LoginForm.valid">Login</button>
                </div>
                <div class="text-center">
                    <a class="txt2" href="forgetpassword.html">Forgot password?</a>
                </div>
            </form>
        </div>
    </div>
</div>